<%
  const currentPage = typeof current !== 'undefined' ? current : null;
  const aria = key => (currentPage === key ? ' aria-current="page"' : '');
%>
<nav class="nav">
  <div class="nav-links">
    <a class="nav-button nav-link" href="info.html"<%- aria('info') %>>info</a>
    <a class="nav-button nav-link" href="runes.html"<%- aria('runes') %>>runes</a>
    <a class="nav-button nav-link" href="tracks.html"<%- aria('tracks') %>>tracks</a>
    <a class="nav-button nav-link" href="links.html"<%- aria('links') %>>links</a>
  </div>
</nav>
